.jumbotron {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    color: hotpink;
    margin-bottom: 0;
    background-color: lightpink;
  }

  h1 {
    padding-top: 390px;
    letter-spacing: 0.1ch;
    font-family: 'WaltographRegular'; 
    font-weight: bolder; 
    font-style: normal; 
    font-size: 50pt;
  }
  
  h3 {
    font-family: 'WaltographRegular'; 
    font-size: 30pt;
  }